body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    margin: 48px auto;
    width: 480px;
    border: 3px solid #ccc;
}

canvas {
    position: relative;
    background: transparent;
    display: block;  
}

canvas#main {
    margin-top: -320px;
}

.meta {
    margin-left: auto;
    margin-right: auto;
    width: 480px;
}

.restart {
    border-width: 2px;
    box-shadow: 1px 1px 1px #ccc;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 2em;
    margin: 8px auto 0 auto;
    text-transform: uppercase;
    width: 100%;
}

.game-info {
    font-family: Verdana, serif;
    font-size: 18px;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}